button {
  background-color: rgb(255, 216, 20);
  height: 36px;
  width: 200px;
  color: black;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  transition: background-color .2s;
}
button:hover {
  background-color:rgb(209, 178, 20);
}